<!-- <p>directive works!</p>
<h3>directive</h3> -->
<!-- 
<h3 class="text-center">Directive Example</h3> -->
<!-- <div class="container w-50">
    <div class="mb-3" *ngIf="isshow">
        <label for="id1" class="form-label">User Name</label>
        <input type="text" class="form-control" id="id1" name="uName">
    </div>
 
    <button type="button" (click)="toggle()">Toggle</button>
    <button class="btn btn-primary  "*ngIf="isDisplay">Login</button> 
</div>         
<label for="" class="fw-bold">Contact Preference: </label>
<div class="form-check">
     -->
     
