<h4 class="text-center">Product List</h4>
    

<div class="container">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sr No</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
          </tr>
        
    </thead>
    <tbody>
      <tr *ngFor="let product of productList;let i=index">
        <th scope="row">{{i}}</th>
        <td>{{product.productName}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>
