<!-- <p>event-binding works!</p>
<button id="id1" (click)="login()">Login</button>
<h4>cart count:{{count}}</h4>
<button (click)="addTocart()"> add to cart</button>
<br><br>
<button (click)="removeFormcart()">remove form cart</button>
<br><br>
<button (click)="performAction('Increment')" class="margin">Add To Cart</button>
<br><br>
<button (click)="performAction('Decrement')">Remove From Cart</button>
<br><br>
<label for="">First Name</label>
<input type="text" name="fistName" (change)="getData($event)">
<h6>Entered Name is : {{enterdName}}</h6>

<label>last Name</label>
<input type="text" name="lastnName"(change)="getdata($event)">
 -->
